#menu-links img {
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
}

.page, .post {
    margin-bottom: 0;
}

.line-separator{
  height:1px;
  border-bottom:1px solid;
  border-color: lightgrey;
}

.post-author {
  padding-bottom: 30px;
}

@media (min-width: 48em) {
  #menu-links {
    padding-top: 40px;
  }
}
