<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {% if page.description != null %}
  <meta name="description" content="{{ page.description }}" />
  {% elsif post.description != null %}
  <meta name="description" content="{{ post.description }}" />
  {% endif %}

    {{ site.default }}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/rpkn.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700%7CAbril+Fatface">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/pics/icons/rpkn-256x256.png">
  <link rel="icon" href="{{ site.baseurl }}public/pics/icons/rpkn-32x32.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
