<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Hem</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
            {% if node.layout == "page" && node.navigation = "include"%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <section id="menu-links">
        <a href="http://www.twitter.com/ropkn"><img src="/public/pics/icons/twitter-32.png" alt="Twitter"></a>
        <a href="{{ site.github.repo }}"><img src="/public/pics/icons/Github-32.png" alt="Github"></a>
        <a href="https://www.linkedin.com/pub/robin-karlsson/88/5b9/661"><img src="/public/pics/icons/linkedin-32.png" alt="Linkedin"></a>
      </section>
    </nav>
  </div>
</div>
